:root {
    --black-0: #000000;
    --black-1: #212121;
    --black-2: #303030;
    --black-3: #424242;

    --white-9: #FFFFFF;
    --white-8: #FAFAFA;
    --white-7: #F5F5F5;
    --white-6: #E0E0E0;

    --text: #FFFFFF;
    --text-2: #F5F5F5;
    --icon: #FFFFFF;
    --icon-2: #F5F5F5;
}

.content {
    color: red !important;
    background-color: var(--black-1) !important;
}

div.plugin-content h1, div.contentpad h1, div.header-holder h1.page-header {
    color: var(--text);
}






.team_name, .person_name, .model_name {
    color: var(--text) !important;
}
.team_members, .person_info, .model_description, .created_by {
    color: var(--text-2) !important;
}

div.prev_today_next span.ico.action, div.header-holder span.ico.action {
    color: var(--icon-2);  
    border-color: var(--black-3);
}

div.prev_today_next span.ico.action:hover, div.header-holder span.ico.action:hover {
    background-color: var(--black-3) !important; /* Needs Important Tag */
    border-color: var(--black-3) !important; /* Needs Important Tag */
    /* color: blue; */
}


div.people div.person_row {
    border-top-color: var(--black-3);
    border-bottom-color: var(--black-3);
}
div.people div.person_row:hover {
    background: var(--black-2) !important; /* Needs Important Tag */
    border-color: var(--black-3);
}

.non-tour .team_row:hover, .non-tour .team_row.active, .model_row:hover, .model_row.active, .people .person_row:hover, .people .person_row.active {
    background: cyan !important;
}
/*
.person_row {
    background-color: cyan !important;
}
.person_row:hover {
    background-color: cyan !important;
}
*/
ul.alphabet_filter > li.alphabet_letter {
    color: var(--text) !important;
}
ul.alphabet_filter > li.alphabet_letter:hover {
    background-color: var(--black-3) !important;
}
ul.alphabet_filter > li.disabled {
    color: var(--white-6) !important;
}
ul.alphabet_filter > li.disabled:hover {
    background-color: var(--black-2) !important;
}


